:global(body.day-mode) {
  background: linear-gradient(#007bbd, #b0e0e6, #b0e0e6, #ffffff);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.cloud {
  position: absolute;
  top: 20px;
  width: 300px;
  opacity: 1;
  animation: cloud-movement 15s linear infinite, cloud-pulse 3s ease-in-out infinite;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
  z-index: -2;
}

.front {
  z-index: -1;
}

.distant {
  z-index: -2;
}

.small {
  margin-right: 200px;
  width: 150px;
}

.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.big {
  width: 500px;
  margin-top: 70px;
  margin-right: 150px;
}

.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}

.slow {
  animation-duration: 9.2s;
}

.slower {
  animation-duration: 11.2s;
}

.slowest {
  animation-duration: 13.5s;
}

@keyframes cloud-movement {
  0% {
    opacity: 1;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(-300px);
  }
}
